<div class="custom-banner-section lazyloaded" style="background-image: url(https://s3-alpha-sig.figma.com/img/dbfc/e1ba/cf4c127756ca83274f282f3f0f033fe9?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RiG0~FZN3UQTSDLSoYZ3epOKtq60cg-ahI-urFYEC8ztR3eKn6U0KIpvuZzBiYTfUh~NOGl2ZRHoEe6VzhhKENwYEH0fl7xHfN8tNGmwSrH1RqnRpVzYjr7j5M1cUVmArWOCnqXLHtJIdAev~tZ4NzwLBRgecw3zko2ITde27ZJ76O10vOoCYtRfmx7A9jLSGWfLTix3ObIT4u-q-ltuoEEjEAKFZ4SCfu1x4541NSYgy4Lr1~wvWqhuXCDr09RYGPnMYPw2ofKka~ezY4eUi0kQKhh3FDnNpfVi40I4VbRFSV7KXjBaaTQcdFVmPgV3yLOoWEjhzPRRNiG-~tqDPg__);">
   <div class="width-container">
    <div class="custom-content">
        <div class="banner-heading">Special Offer</div>
        <div class="banner-main-heading">Explore the Best <br> Hip Hop Jewelry<br> Collection</div>
        <a href="" class="banner-button">Shop Now</a>
    </div>
    </div>
    <div class="custom-banner-img">
        <img src="https://s3-alpha-sig.figma.com/img/fb54/67ff/ca95f86d0c50d11923441b80fb09a7d8?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IOAagj7LEXnSHZ37Ctd9~XxyGQ-KbHzBQd~nKNod2WlC3SMBa3NvUI4fozAHBQ--o25jbYkTnvTVTsqbZeC6COum2HDsa16KEIybuqC1e3G7NzhC8RFxXzEDq~wJKk3SOVVyZsFOrYrW5rd5GQBS1wtpouPDSCGtoD52g3lC5loTVCvrQENHmMwjaxdb8vsON5Eim-ls8sIvZI8ILKDBTNEAlat~f3aeBXmIJJQayuP0Q8YZUqPTvRuB58sp-bddbISDTasSBpfuLbzosp8me0xMRpjOblX~6FuJuZXnm1U3v3At8pvqFEiz1eRPfzXTHdRxg203de~IyTxcFrWYSQ__" alt="banner-img" class="banner-img lazyloaded">
    </div>
</div>


{% schema %}
  {
    "name": "custom banner section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "custom banner section",
        "settings": {
        }
      }
    ]
  }
{% endschema %}