<div class="custom-banner-section" style="background-image: url(https://s3-alpha-sig.figma.com/img/dbfc/e1ba/cf4c127756ca83274f282f3f0f033fe9?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RiG0~FZN3UQTSDLSoYZ3epOKtq60cg-ahI-urFYEC8ztR3eKn6U0KIpvuZzBiYTfUh~NOGl2ZRHoEe6VzhhKENwYEH0fl7xHfN8tNGmwSrH1RqnRpVzYjr7j5M1cUVmArWOCnqXLHtJIdAev~tZ4NzwLBRgecw3zko2ITde27ZJ76O10vOoCYtRfmx7A9jLSGWfLTix3ObIT4u-q-ltuoEEjEAKFZ4SCfu1x4541NSYgy4Lr1~wvWqhuXCDr09RYGPnMYPw2ofKka~ezY4eUi0kQKhh3FDnNpfVi40I4VbRFSV7KXjBaaTQcdFVmPgV3yLOoWEjhzPRRNiG-~tqDPg__);">
    <div class="custom-content"></div>
    <div class="custom-banner-section"></div>
</div>


{% schema %}
  {
    "name": "custom banner section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "custom banner section",
        "settings": {
        }
      }
    ]
  }
{% endschema %}