<div id="shopify-section-advance_image_text_94NpUY" class="shopify-section advance-img-text"><div class="position-relative">
    <div class="width-container">
        <div class="jewelry-section">
           <div class="imgcenter">
    <video class="video_embed" autoplay muted loop>
        <source src="{{ section.settings.video_cdn_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
            <div class="jewelry-right">
                <div class="small-title">
                   {{section.settings.designstudio}}
                </div>
                <div class="jewelry-title">
                   {{section.settings.title}}
                </div>
                <div class="jewelry-description">
                {{ section.settings.text }}
                </div>
               <div class="btn-shop">
                <a href="" class="jewelry-button">
                SHOP NOW
                </a>
               </div>
            </div>
        </div>
    </div>
    
        <div class="jewelry-bgleft">
            <img src="//thejewelryfix4u.com/cdn/shop/files/4db7940b4417c4a22014e462661194ef_large.jpg?v=1727866567" alt="Center Image" class="w-full">
        </div>
    

</div>
<!-- Jewelry Section -->
</div>

<style>
  .btn-shop{
        margin-top: 6%;
  }
   .video_embed {
    width: 71%;
    height: 500px;
    object-fit: cover
  }
.w-full{
    width: 100%;
    height: 100%;
}
.imgcenter{
    position: relative;
    z-index: 9;
    width: 50%;
    text-align: end;
}
.jewelry-bgleft{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
}
.position-relative{
    position: relative;
}
.advance-img-text{
    background: #1D1D1D;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}
.jewelry-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 500px; */
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.jewelry-left {
  width: 35%;
  height: 100%;
  background-image: url('//thejewelryfix4u.com/cdn/shop/files/4db7940b4417c4a22014e462661194ef_large.jpg?v=1727866567'); 
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.jewelry-right {
  width: 50%;
  color: white;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.jewelry-image-container {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%; 
  z-index: 2;
}

.center-image {
  width: 60%; 
  height: auto;
  object-fit: contain;
}

.small-title {
   font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.34px;
    letter-spacing: 0.68em;
    text-align: left;
    color: #CAA45D;
}

.jewelry-title {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 80.92px;
    text-align: left;
    color: #FFFFFF;
  width: 57%;
  margin-top: 2%;
}

.jewelry-description {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
    /* margin-top: 10px; */
    margin-bottom: 20px;
      margin-top: 3%;
}

.jewelry-button {
    background-color: #CAA45D;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}

.jewelry-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
    .video_embed {
        width: 100%;
        height: 279px;
        object-fit: cover;
    }
  
    .jewelry-bgleft{
        height: 35%;
        width: 100%;
    }
    .jewelry-right,.imgcenter{
width: 90%;
        padding: 0px;
        left: 5%;
    }
    .jewelry-section {
        flex-wrap: wrap;
        gap: 50px;
    }
    .small-title{
        font-size: 16px;
    }
    .jewelry-title {
        font-size: 40px;
        line-height:50.57px;
    }
    .jewelry-description {
        font-size: 14px;
        line-height:21px;
    }
}
</style>

{% schema %}
  {
   "name": "video with button-custom",
    "class": "nt_section type_image_text",
    "settings": [
      {
      "type": "image_picker",
      "id": "new_background_image",
      "label": "Background Image"
    },
          {
      "type": "select",
      "id": "img_background",
      "label": "Image Alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
       {
      "type": "text",
      "id": "video_cdn_url",
      "label": "CDN Video URL",
      "default": "https://cdn.example.com/path-to-video.mp4"
    },
    {
      "type": "text",
      "id": "video_width",
      "label": "Video Width (in px)",
     
    },
    {
      "type": "text",
      "id": "video_height",
      "label": "Video Height (in px)",
     
    },
       {
        "type": "text",
        "id": "designstudio",
        "label": "sub-Title",
        "default": "Image with text"
      },
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Image with text"
      },
       {
        "type": "text",
        "id": "text",
        "label": "paragraph",
        "default": "Image with text"
      },
        {
        "type": "url",
        "id": "button_link",
        "label": "Button link (Optional)"
      },
    ],
     "presets": [
      {
        "name": "video with button-custom",
      }
    ]
  }
{% endschema %}