@media (max-width:1750px) {
    .category-main-section .category-slider-box {
        margin-left: 3.5vw;
    }
}
@media (max-width:1700px) {
    .category-main-section .category-slider-box {
        margin-left: 2.5vw;
    }
}
@media (min-width:1600px) {
    .category-main-section .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        left: -80px !important;
    }
}
@media (max-width:1600px) {
    .category-main-section .category-slider-box {
        margin-left: 0;
        padding: 0 15px;
    }
}
@media (min-width:1025px) {
    .custom-v .single_add_to_cart_button{
      height: 100% !important;
      width: 33% !important;
    }
    .variations_form .shopify-payment-button{
      margin-top: 0 !important;
      width: 33% !important;
      margin-right: 15px;
    }
    .template-product .custom-v{
      width: 100% !important;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .custom-banner-section .banner-heading {
     font-size: 60px;
   }
   .custom-banner-section .banner-main-heading {
     font-size: 60px;
   }
   /* .custom-banner-img {
     right: -35%;
   } */
 }
 /* @media (min-width: 1281px) and (max-width: 1500px) {
   .custom-banner-img {
     right: -30%;
   }
 } */
@media (min-width: 1501px) and (max-width: 1640px) {
   /* .custom-banner-img {
     right: -19%;
   } */
 }
@media (max-width:1024px) { 
    .promo-title {
        font-size: 50px;
    }
    .custom-v .wrap{
      align-items: flex-end !important;
      justify-content: space-between !important;
    }
    .shopify-payment-button{
      display: block !important;
      width: 60%;

    }
    .video-descrpiton .custom-tab-dec{
      width: 100%;
  }
      .video-descrpiton .custom-video{
          width: 100%;
          padding-left: 0;
      }
      .des_style_1 .sp-tab-content{display:block !important}
      .des_style_1 .sp-tab-content{display:none !important}
}
@media (min-width: 769px) and (max-width: 1024px) {
    .custom-banner-section .banner-heading {
     font-size: 50px;
     font-weight: 600;
     line-height: 80.92px;
   }
   .custom-banner-section .banner-main-heading {
    font-size: 50px;
    font-weight: 600;
    line-height: 60.92px;
  }
  .banner-button {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  /* .custom-banner-img {
    right: -40%;
  } */
}
@media (max-width:991px) {
    .category-main-section .category-name {
        font-size: 26px;
    }
    .category-main-section .section-head {
        font-size: 40px;
    }
    .promo-title {
        font-size: 42px;
    }
}
@media (min-width:769px) {
  .ntheader {
    margin: 0 50px;
    /* height: 0 !important; */
    
}
  .custom-banner-img{
    height:70vh;
  }
}
@media (max-width:768px) {
    .category-main-section .category-name {
        font-size: 18px;
    }
    .category-main-section .section-head {
        font-size: 36px;
    }
    .promo-section {
        flex-direction: column;
        height: auto;
        /* padding: 20px; */
      }
      .promo-title{
        line-height: normal;
      }
      .promo-content, .promo-image {
        width: 100%;
      }
  
      .promo-title {
        flex-direction: column;
        align-items: center;
      }
  
      .promo-button {
         width: 52%;
        margin-top: 10px;
      }
      .custom-image-text .top-bottom-padding{
        padding-top: 0;
        padding-bottom: 0;
      }
      .custom-image-text .container{
            padding-right: 0; 
   padding-left: 0;
      }
      
      .custom-banner-section {
        /* padding: 30px 0; */
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 200px;
    }
      /* .custom-banner-section::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 65%);
    } */
    .custom-banner-section .width-container{
   z-index: 2;
    }
    
    .custom-banner-section .custom-banner-img {
        width: 100%;
        /* height: auto; */
        order: -1;
    }

    .custom-banner-section  .banner-img {
        object-fit: cover;
        width: 100%;
        height: 375px;
    }

    .custom-banner-section  .custom-content {
        padding: 30px 0;
        text-align: center;
        margin-top: 10%;
        padding-top: 30%;
    }

    .custom-banner-section .banner-heading {
        font-size: 36px;
        line-height: 50px;
        text-align: center;
    }

    .custom-banner-section .banner-main-heading {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }

    .banner-button {
        font-size: 16px;
        padding: 12px 30px;
        margin: 0 auto;
    }
    .custom-banner-section .owl-nav-buttons {
        display: none;
      }
      .custom-banner-section  .heading{
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 60px;
      }
      .custom-banner-section  .maindiv {
        flex-wrap: wrap;
      }
      .custom-banner-section .content-block {
        width: 50%; 
        padding: 10px; 
        box-sizing: border-box;
        display: block;
      }
      .custom-banner-section  .image-box img {
        width: 48px;
        height: 48px;
      }
  
      .custom-banner-section .custome-heading {
        text-align: center; 
        padding-left: 0; 
        padding-top: 10px; 
      }
      .custom-banner-section .mainclass {
        bottom: -38%;
    }
    .template-product .product_title {
      font-size: 28px !important;
      line-height: 30.84px;
    }
    .sku_wrapper {
      font-size: 14px !important;
    }
    .sku_wrapper .cb {
      font-size: 14px !important;
    }
    .mg__0 {
      font-size: 14px;
      line-height: 22.2px;
    }
    .template-product .nt_pr h3.product-title, .template-collection .product-title{
      height: 50px;
    }
    .customselect{
      width: 100%;
  }
    .custom-banner-img{
    height:600px;
  }
}
@media (max-width:600px) {
    .category-main-section .heading-button2{
        display: inline-block;
    }
    .category-main-section .heading-button{
        display: none;
    }
    .category-main-section .swiper-pagination{
        display: none !important;
    }  
    .category-main-section .section-head {
        font-size: 32px;
    }
    .promo-title{
        font-size: 32px;
    }
    .custom-banner-section .custome-heading{
      font-size: 14px;
    }
    .template-product .product_title {
      font-size: 24px !important;
      line-height: 30.84px;
    }
  .watch_slider{
    padding-top:0 !important;
  }
  .footer__top_wrap .textwidget  .db{
    text-align: center !important;
    padding-left: 15px !important;
    padding-right: 15px !important; 
  }
}
@media (max-width:470px) {
 .custom-banner-section  .custom-content {
        margin-top: 30%;
    }
}
@media (max-width:439px) {
  .custom-banner-section {
    margin-bottom: 250px;
}
.custom-banner-section .mainclass {
  bottom: -47%;
}
  .collection-i-slider .add_btn_watch{
    font-size:10px;
  }
}
@media (max-width:339px) {
  .collection-i-slider .add_btn_watch{
    font-size:8px;
  }
}
