.width-container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

body,
#nt_wrapper {
    background-color: #171717 !important;
}

.quote_rating .facl-star-half:after {
    font-size: 15px !important;
}

.facl-star:before {
    font-size: 15px !important;
    color: #F0D882 !important;
}

.quote_rating .facl-star-half:before {
    font-size: 15px !important;
    color: #F0D882 !important;
}
.category-main-section .swiper-pagination-bullet
/* HEADER SECTION  */
.nt_menu>li>a {
    font-family: Poppins !important;
    border-bottom: 3px solid transparent;
    font-weight: 600 !important;
}



.ntheader .nt_menu>li>a:hover {
    color: #CAA45D !important;
    border-bottom: 3px solid #CAA45D;
}

.ntheader .nt_menu>li>a {
    padding-left: 0 !important;
}

.header__mid .container {
    max-width: 100% !important;
}

element {
    padding-bottom: 0 !important;
}

/* FOOTER CSS  */
.footer__top .widget-title {
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    letter-spacing: 3px;

}

.footer__top #block_1581507819652 {
    color: #A1A1AA !important
}

.footer__top .menu_footer .menu-item a {
    font-family: Poppins !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.footer__top .nt-social {
    margin-top: 20px !important;
}

.footer__top a:hover {
    color: #CAA45D !important;
}

.footer__top .newl_des_2 .js_mail_agree .mc4wp-form-fields .row {
    flex-direction: column !important;
}

.footer__top .newl_des_2 .js_mail_agree .mc4wp-form-fields .w__100 {
    width: auto !important;
    margin-top: 10px !important;
    background-color: #CAA45D !important;
    color: #000 !important;
    padding: 15px 30px !important;
}

.footer__top .newl_des_2 .signup-newsletter-form input.input-text {
    color: #71717A !important;
    background-color: #FFFFFF !important;
    padding: 25px 10px !important;
}

.footer__top .nt-social i {
    width: 30px;
    height: 30px;
    background-color: #171717;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}

.footer__top .nt-social i:hover {
    background-color: #F0D882 !important;
}

.footer__top .nt-social a {
    margin: 0 5px !important;
}

.footer__top .newl_des_2 .signup-newsletter-form {
    border: 0 !important;
}

.footer__bot_wrap .f_bot_bt_copy {
    border-top: 1px solid #3E4550 !important;
    padding-top: 20px !important;
}

/* BANNER SECTION CSS */

.custom-banner-section {
    /* padding: 100px 0; */
    background-size: cover;
    background-position: center;
    align-content: center;
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}


.custom-banner-img  {
    max-width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    align-content: center;
    position: relative;
    z-index: 1;
   /* padding: 200px 0; */
    /* height:70vh; */
}

.banner-img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
}

.custom-banner-section  .banner-heading {
    font-family: Dancing Script;
    font-size: 60px;
    font-weight: 600;
    line-height: 80.92px;
    color: #F0D882;
}

.custom-banner-section  .banner-main-heading {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 600;
    line-height: 80.92px;
    /* text-align: left; */
    color: #FFFFFF;
    margin-bottom: 18px;
}

.banner-button {
    background-color: #CAA45D;
    color: #000000;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 30px;
}

.custom-content {
    /* padding: 200px 0; */
}

.custom-banner-section  .swiper {
    width: 100%;
    height: 100%;
}


/* banner position section  */
.custom-banner-section .mainclass {
    position: absolute;
    width: 100%;
    bottom: -6%;
    z-index: 2;
}

.custom-banner-section .custom-width-container {

    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;

}

.custom-banner-section .maindiv {
    display: flex;
    justify-content: space-between;
    background-color: #1D1D1D;
}

.custom-banner-section .content-block {
    display: flex;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
}

.custom-banner-section .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-banner-section .image-box {
    background-color: #000000;
    padding: 10px;
    display: inline-block;
}

.custom-banner-section .image-box img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.custom-banner-section .text-container {
    flex: 1;
}

.custom-banner-section .custome-heading {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: left;
    padding-left: 20px;
}

.custom-banner-section .content-block:last-child {
    border-right: none;
}

/* CATEGORY SECTION CSS  */
.commonheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.category-main-section {
    background-color: #171717;
    padding-top: 100px;
}

.category-main-section .category-slider-box {
    margin-top: 50px;
    margin-left: 7.5vw;
}

.category-main-section .section-head {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    color: #fff;
}

.category-main-section .swiper {
    width: 100%;
    height: 100%;
}

.category-main-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-main-section .swiper-wrapper {
    margin-bottom: 80px !important;
}

.category-main-section .category-main-box {
    background-color: #1d1d1d;
    padding: 10px;
}

.category-main-section .category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.category-main-section .category-name-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.category-main-section .category-name {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    /* line-height: 80.2px; */
    text-align: left;
    color: #71717A;
    transition: all 0.7s;
}

.category-main-section .category-icon {
    width: 40px;
    height: 40px;
    background-color: #171717;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    border: 1px dashed #353530;
    transition: all 0.7s;
}

.category-main-section .category-icon i {
    transform: rotate(45deg);
    color: #353530;
    transition: all 0.5s;
}

.category-main-section .heading-button {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #000;
    background-color: #CAA45D;
    padding: 10px 20px;
    text-decoration: none;
}

.category-main-section .heading-button2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #000;
    background-color: #CAA45D;
    padding: 10px 20px;
    text-decoration: none;
    display: none;
}

.category-main-section .head-button {
    text-align: center;
}

.category-main-box:hover .category-icon i {
    color: #DDB16D;
}

.category-main-box:hover .category-icon {
    border: 1px dashed #DDB16D;
}

.category-main-box:hover .category-name {
    color: #DDB16D;
}

/* swiper-pagination-bullet-active */
/* width: 20px;
height: 20px;
background: aliceblue;
border-radius: 0;
transform: rotate(45deg); */
/* swiper-pagination-bullet */
/* width: 15px;
height: 15px;
background: aliceblue;
border-radius: 0;
transform: rotate(45deg); */

.category-main-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 15px !important;
    height: 15px !important;
    background: #CAA45D !important;
    border-radius: 0 !important;
    transform: rotate(45deg) !important;
    border: 0 !important;
}

.category-main-section .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: transparent !important;
    border-radius: 0 !important;
    transform: rotate(45deg) !important;
    border: 2px solid #ffffff !important;
    margin: 0 8px !important;
}





/* COLLECTION CSS */
.product-inner {
    padding: 10px !important;
    background-color: #1d1d1d !important;
}

.product-inner .product-title a {
    color: #ffffff !important;
    font-family: Poppins;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.template-collection .sidebar_nt {
    background-color: #1d1d1d;
    padding: 15px !important;
}

.template-collection .widget-title {
    color: #ffffff !important;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}

.template-collection ul.nt_filter_styleck>li>a {
    color: #ffffff !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-weight: 500 !important;

}

.template-collection ul.nt_filter_styleck>li>a {
    justify-content: space-between;
}

.template-collection ul.nt_filter_styleck>li>a::before {
    order: 2;
    border: 2px solid #71717a;
    background-color: transparent;
    border-radius: 2px;
}

.template-collection .clear_filter {
    color: #ffffff !important;
}

.template-collection ul.nt_filter_styleck>li:hover a {
    color: #F0D882 !important;
}

.template-collection .nt_filter_block .active>a {
    color: #F0D882 !important;
}

.template-collection .blockid_price .price_slider_amount .price_label>span {
    color: #CAA45D !important;
}

.template-collection .blockid_price .price_slider_amount .price_label {
    color: #ffffff !important;
}

.template-collection .noUi-connect {
    background-color: #CAA45D !important;
}

.template-collection .noUi-handle::after {
    background-color: #CAA45D !important;
}

.template-collection .noUi-handle::before {
    background-color: #CAA45D !important;
}

/* PROMO SECTION  */

.promo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.promo-content {
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 50px;
    text-align: justify;
    color: white;
    /* z-index: 1;   */
}

.promo-title {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: left;
    line-height: 80.92px;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
}

.promo-button {
    /* margin-left: 50px; */
    width: 20%;
    background-color: #f0c050;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    /* border-radius: 5px; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.promo-button:hover {
    opacity: 0.8;
}

.promo-image {
    width: 50%;
    height: 100%;
}

.promo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-image-text .top-bottom-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* product css  */
.sku-custom-div {
    display: flex;
    justify-content: space-between;
}

.sku-custom-div .sku_wrapper {
    order: 2;
}

.template-product .variations .swatch_pr_item {
    background-color: transparent !important;
    border: 1px solid #777777 !important;
    /* color: #777777; */
}

.template-product .variations .swatch_pr_item.is-selected {
    background-color: #3E3E3E !important;
    border: 1px solid #F0D882 !important;
}

.template-product .variations .swatch_pr_item.is-selected span {
    color: #F0D882 !important;
}

.template-product .variations .swatch_pr_item:hover {
    background-color: #3E3E3E !important;
    border: 1px solid #F0D882 !important;
}

.template-product .variations .swatch_pr_item:hover span {
    color: #F0D882 !important;
}

.template-product .variations .swatch_pr_item span {
    color: #777777;
    z-index: 1;
}

.template-product .price_varies,
.swatch__title,
.product_title,
.mg__0,
.qty {
    color: white !important;
}

.template-product .single_add_to_cart_button {
    background: #353530 !important;
    color: #CAA45D !important;
}

.template-product .facl facl-heart-o {
    color: #D9D9D9 !important;
}

.template-product .quantity {
    background: #777777 !important;
}

.template-product #wrap_des_pr {
    background: #171717 !important;
}

.tab_title_block.active {
    background: #353530 !important;
}

.template-product .tab_title_block.active a {
    color: #F0D882 !important;
}

.template-product .tab_title_block a {
    color: #71717A !important;
}

.template-product .section-title .mr__10 {
    font-size: 48px !important;
    color: #FFFFFF !important;
}

.template-product .product_title {
    font-family: Poppins;
    font-size: 32px !important;
    font-weight: 600;
    line-height: 43.84px;
    text-align: left;
    color: #D9D9D9 !important;
}

.mg__0 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    color: #FFFFFF;
}

.sku_wrapper {
    font-family: Poppins;
    font-size: 16px !important;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: #D9D9D9 !important;
}

.sku_wrapper .cb {
    font-family: Poppins;
    font-size: 16px !important;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: #D9D9D9 !important;
}

.price_varies {
    color: #D9D9D9;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.qu-name {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.qu-box {
    align-items: center;
    margin-bottom: 15px;
}

/* WISH LIST CSS */
.template-collection .custom-hover-wish {
    display: none;
}

.template-index .custom-hover-wish {
    display: none;
}

.template-product .shopify-tabs .ul_tabs {
    justify-content: start !important;
    margin-bottom: 30px;
}

.template-product .ul_tabs li.active a,
.ul_tabs li.tab_title_block.active a {
    border: 0 !important;
}

.template-product .price_varies ins {
    color: #D9D9D9 !important;
    margin-right: 5px;
}

.template-product .price_varies del {
    color: #777777 !important;
    order: 2;
}

.template-product .current_price {
    display: flex;
}

.template-product .price_range {
    display: flex;
    align-items: center;
    color: #fff !important;
}

.template-product .priceoff {
    color: #C02727 !important;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 5px;
}

/* PRODUCT PRICE_COMPARE CSS  */
.compare_p {
    font-family: Lato !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #71717A !important;
    margin-left: 5px;

}

.product-info .price_custom {
    font-family: Lato !important;
    font-size: 18px !important;
    font-weight: 600;
    line-height: 24px;
    color: #CAA45D !important;
    margin-top: 5px;
}

.line-through {
    text-decoration: line-through;
}

.nt_label {
    display: none;
}

.template-product .nt_pr h3.product-title {
    height: 60px;
    overflow: hidden;
}

.template-collection .product-title {
    height: 60px;
    overflow: hidden;
}

.template-product .custom-hover-wish .nt_add_w {
    display: none;
}

.template-collection .btn_filter {
    display: none;
}

.template-product .nt_labels {
    display: none;
}

.template-product .product__policies {
    color: #D9D9D9 !important;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.template-product .product__policies a {
    color: #53C7D7 !important;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

.template-product .sp-tab-content {
    color: #ffffff !important;

}

.template-product .sp-tab-content h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff !important;
}

.template-product .shopify-payment-button__more-options {
    color: #ffffff !important;
}

.template-product .facl-heart-o {
    color: #ffffff !important;
}

.template-product .variations_button .nt_add_w {
    border: 1px solid #BCBCBC !important;
}

.template-product .custom-quantity-btn i {
    color: #ffffff !important;
}

/* CUSTOM TAB  */
.customtabs {
    border-bottom: 4px solid #353530;
    overflow: scroll;
}

.customtab {
    font-family: "Lato", sans-serif !important;
    cursor: pointer;
    padding: 10px;
    margin: 0px 2px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.custompanel {
    display: none;
    animation: fadein .8s;
    font-family: "Lato", sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    color: #fff;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold
}

.customradio {
    display: none;
}

#tab-7:checked~#custompanel-7,
#tab-8:checked~#custompanel-8,
#tab-9:checked~#custompanel-9,
#tab-10:checked~#custompanel-10 {
    display: block;
}

#tab-7:checked~.tabs #customtab-7,
#tab-8:checked~.tabs #customtab-8,
#tab-9:checked~.tabs #customtab-9,
#tab-10:checked~.tabs #customtab-10 {
    background: #fffffff6;
    color: #000;
    border-top: 3px solid #000;
}


#one:checked~.custompanels #one-panel,
#two:checked~.custompanels #two-panel,
#three:checked~.custompanels #three-panel,
#four:checked~.custompanels #four-panel {
    display: block;
}

#one:checked~.customtabs #one-tab,
#two:checked~.customtabs #two-tab,
#three:checked~.customtabs #three-tab,
#four:checked~.customtabs #four-tab {
    color: #fff;
    font-weight: 700;
    /* border-bottom: 4px solid #000; */
    position: relative;
}

#one:checked~.customtabs #one-tab::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
}

#two:checked~.customtabs #two-tab::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
}

#three:checked~.customtabs #three-tab::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
}

#four:checked~.customtabs #four-tab ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
}

.customtabs {
    display: flex;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.customtabs::-webkit-scrollbar {
    display: none;
}

.color-white a {
    color: #999;

}

/* custom tab */


.template-product .customize-properties textarea {
    min-height: 90px !important;
    border: 1px solid #caa45d !important;
    font-family: poppins !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.5px;
    color: #ffff !important;
    background-color: #171717 !important;
}

.mini_cart_title a {
    color: #fff !important;
}

.cart_header {
    color: #fff !important;
}

.cart_items .qty .plus i {
    color: #fff !important;
}

.cart_items .qty .minus svg {
    color: #fff !important;
}

.js_cat_dics .total .js_cat_ttprice .cart_tot_price,
strong {
    color: #fff !important;
}

.js_cat_dics .total .js_cat_ttprice strong,
.cart_tot_price {
    color: #fff !important;

}

.bg_color_rose {
    background: linear-gradient(180deg, #F6C8AE 0%, #FEEEE6 50.5%, #F4BEA0 100%);
}

.bg_color_white {
    background: linear-gradient(180deg, #DDDDDC 0%, #F6F6F6 50.5%, #D7D6D6 100%);
}

.bg_color_yellow {
    background: linear-gradient(180deg, #EECE78 0%, #FDF5DC 50.5%, #EECE7A 100%);
}

.template-product table .custom-video video {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.customselect {
    width: 50%;
    color: #FFF !important;
    margin-bottom: 30px;
}

.customselect .variant-input {
    color: #000 !important;
}

.sticky_atc_wrap {
    background: #171717 !important;
}

.mfp-with-anim {
    background: #171717 !important;
}

/* .mfp-with-anim .variations_button {
  
} */

/* video description */
.video-descrpiton {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
}

.video-descrpiton .custom-tab-dec {
    width: 50%;
}

.video-descrpiton .custom-video {
    width: 50%;
    padding-left: 30px;
}

.des_style_1.des_mb_2.sp-tab>.sp-tab-content {
    border: 0 !important;
}

.table-responsive {
    border: 0 !important;
}

.sticky_atc_btn .sticky_atc_price {
    color: #fff !important;
}

.mfp-content .price {
    color: #ffff !important;
}

.sticky_atc_content .quantity .qty .facl-plus {
    color: #ffff !important;
}

.sticky_atc_content .quantity .qty .facl-minus {
    color: #ffff !important;
}

.mfp-content h3.product-title>a {
    color: #ffff !important;
}

.mfp-content .variations_form .shopify-payment-button {
    display: block !important;
    width: 100% !important;
    margin-top: 10px !important;
}

.mfp-content .detail_link {
    color: #ffff !important;
}

.custom-breadcrumb-class a {
    color: #F0D882 !important;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 600 !important;

}
.collection-head-c{
    font-family: Poppins !important;
font-size: 36px !important;
font-weight: 600 !important;

}
.custom-breadcrumb-class {
    color: #F0D882 !important;
    margin-top: 10px;
}
.cat_design_1 .cat_grid_item__wrapper{
    bottom: 10px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row.theiaStickySidebar.theiaStickySidebarProduct{
    transition: all 0.5s;
}
.row.theiaStickySidebar.sticky{
    transition: all 0.5s;
    position: fixed;
    top: 100px;
    z-index:99;
}
.row.theiaStickySidebar.slider-absolute{
    position: absolute;
    bottom: 0;
    top: unset;
}
.post-info h4 a ,span{
  color:#fff !important; 
}
.page-numbers li a{
  color:#fff !important;
  font-size:16px !important;
}
.page-numbers current{
  color:#caa45d !important;
  font-size:18px !important;
}