{%- section 'pages_heading' -%}<div class="custom-page-width container mt__60 mb__60 rtet4 color-white">{{ page.content }}</div>

<!-- <style>
  .custom-page-width{
    max-width:1200px !important;
  }
</style> -->